*.csr
*.iml
*.jar
*.log
*.pyc
*.req
*.srl
*.tar
*/scan-results.json
*cache*
*ipynb*
.DS_Store
.idea
.python-version
.ruff_cache
.vscode/*
__pycache__
docs/_build
docs/README.md
java/.classpath
java/.project
java/.settings/
local.make
target
trivy-output.txt
Untitled*
venv
