---
exclude: '^(venv|\.vscode)' # regex
repos:
  - repo: local
    hooks:
      - id: circle-config-yaml
        name: Check for consistency between config.yml and config.yml.j2
        language: python
        # https://regex101.com/r/7SNQ2t/3
        files: '^(?:\.circleci/config\.yml(?:\.j2)?|bin/generate_circleci_config\.py|\.pre-commit-config\.yaml)$'
        entry: bin/generate_circleci_config.py
        additional_dependencies: ["jinja2"]
        always_run: True
      - id: docker-compose-yaml
        name: Check for consistency between docker-compose.yaml and docker-compose.yaml.j2
        language: python
        # https://regex101.com/r/7SNQ2t/3
        files: '^(?:\.docker-compose\.yml(?:\.j2)?|bin/generate_docker_compose\.py|\.pre-commit-config\.yaml)$'
        entry: bin/generate_docker_compose.py
        additional_dependencies: ["jinja2", "PyYaml"]
        always_run: True
      - id: validate-versions
        name: Validate that version.txt files have valid semvers
        language: python
        entry: bin/validate-semver.py
        files: '.*\/version.txt'
        additional_dependencies: ["packaging"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.257"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --ignore, E501]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.6"
    hooks:
      - id: prettier
        args: ["--print-width=135"]
        exclude: "^statsd-exporter/test/statsd-test-config.js$"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: "^.gitignore$"
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: requirements-txt-fixer
        args: ["requirements/test-requirements.in", "requirements/test-requirements.txt"]
      - id: trailing-whitespace
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: bd325c947efcba13c03b4f4c93d882f2f83ed6ff
    hooks:
      - id: remove-en-dashes
      - id: remove-unicode-non-breaking-spaces
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
