---
version: 2.1

executors:
  docker-executor:
    docker:
      - image: cimg/base:current

parameters:
{%- for directory in directories %}
  {{ directory }}:
    type: boolean
    default: false
    description: "Set True if you want to run build for image {{ directory }}."
{%- endfor %}
  overwrite_tags:
    type: boolean
    default: false
    description: "Set True if you want to overwrite existing docker image tag."

workflows:
  version: 2.1
{%- for directory in workflow_directories %}
  {{ directory }}-build:
    when:
      and:
        - << pipeline.parameters.{{ directory }} >>
    jobs:
      - build:
          name: build
          directory: {{ directory }}
          context:
            - apc-chainguard-creds
      - test:
          directory: {{ directory }}
          test_script: bin/test.py
          requires:
            - build
      - release:
          directory: {{ directory }}
          tags: "latest"
          overwrite_tags: << pipeline.parameters.overwrite_tags >>
          context:
            - quay.io
            - docker.io
            - azurecr.io
            - apc-chainguard-creds
          requires:
            - test
          filters:
            branches:
              only:
                - main
      - validate-tags:
          directory: {{ directory }}
          tags: "latest"
          overwrite_tags: << pipeline.parameters.overwrite_tags >>
          context:
            - quay.io
            - docker.io
            - azurecr.io
          requires:
            - test
          filters:
            branches:
              ignore: main
      - approve-branch-tag:
          type: approval
          filters:
            branches:
              ignore: main
      - release-branch-tag:
          directory: {{ directory }}
          overwrite_tags: true
          context:
            - quay.io
            - docker.io
            - azurecr.io
            - apc-chainguard-creds
          requires:
            - approve-branch-tag
            - test
          filters:
            branches:
              ignore: main
{%- endfor %}

jobs:
  build:
    executor: docker-executor
    description: Build an image
    parameters:
      directory:
        description: "The directory of the image to build"
        type: string
    steps:
      - run:
          name: Install uv
          command: uv self version || curl -fsSL https://astral.sh/uv/install.sh | sh
      - docker-build:
          image_name: ap-<< parameters.directory >>
          dockerfile: Dockerfile
          path: << parameters.directory >>
  test:
    executor: docker-executor
    description: "Test the docker image"
    parameters:
      directory:
        description: "The directory of the image to build"
        type: string
      test_script:
        description: "The pytest test script"
        type: string
    steps:
      - docker-test:
          image_name: ap-<< parameters.directory >>
          path: << parameters.directory >>
          test_script: << parameters.test_script >>
  release:
    executor: docker-executor
    parameters:
      directory:
        description: "The directory name of the image to be published"
        type: string
      overwrite_tags:
        type: boolean
        default: false
      tags:
        description: "Comma separated list of tags."
        type: string
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Install uv
          command: uv self version || curl -fsSL https://astral.sh/uv/install.sh | sh
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: |
            set -x
            docker load -i /tmp/workspace/ap-<< parameters.directory >>.tar
            docker images | grep ap-<< parameters.directory >>
      - docker-operations:
          operations: push
          project_path: << parameters.directory >>
          registry: "quay.io"
          registry_username: "${QUAY_USERNAME}"
          registry_password: "${QUAY_PASSWORD}"
          repository: "astronomer"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>
      - docker-operations:
          operations: push
          project_path: << parameters.directory >>
          registry: "docker.io"
          registry_username: "${DOCKER_USERNAME}"
          registry_password: "${DOCKER_PASSWORD}"
          repository: "astronomerinc"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>
      - docker-operations:
          operations: push
          project_path: << parameters.directory >>
          registry: "astrocrpublic.azurecr.io"
          registry_username: "${ACR_PUBLIC_USERNAME}"
          registry_password: "${ACR_PUBLIC_PASSWORD}"
          repository: "astronomer"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>
      - docker-operations:
          operations: push
          project_path: << parameters.directory >>
          registry: "astrocr.azurecr.io"
          registry_username: "${ACR_USERNAME}"
          registry_password: "${ACR_PASSWORD}"
          repository: "astronomer"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>

  release-branch-tag:
    executor: docker-executor
    parameters:
      directory:
        description: "The directory name of the image to be published"
        type: string
      overwrite_tags:
        type: boolean
        default: true
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Install uv
          command: uv self version || curl -fsSL https://astral.sh/uv/install.sh | sh
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: |
            set -x
            docker load -i /tmp/workspace/ap-<< parameters.directory >>.tar
            docker images | grep ap-<< parameters.directory >>
      - run:
          name: Compute sanitized branch tag
          command: |
            BRANCH_TAG=$(python3 bin/sanitize-docker-tag.py "$CIRCLE_BRANCH")
            echo "Branch tag: $BRANCH_TAG"
            echo "export BRANCH_TAG=$BRANCH_TAG" >> "$BASH_ENV"
      - run:
          name: Push branch tag to quay.io
          command: >-
            uv run bin/docker-operations.py push
            --project_path=<< parameters.directory >>
            --registry="quay.io"
            --username="${QUAY_USERNAME}"
            --password="${QUAY_PASSWORD}"
            --repository="astronomer"
            --image="ap-<< parameters.directory >>"
            --tags="$BRANCH_TAG"
            --overwrite_tags=<< parameters.overwrite_tags >>
      - run:
          name: Push branch tag to docker.io
          command: >-
            uv run bin/docker-operations.py push
            --project_path=<< parameters.directory >>
            --registry="docker.io"
            --username="${DOCKER_USERNAME}"
            --password="${DOCKER_PASSWORD}"
            --repository="astronomerinc"
            --image="ap-<< parameters.directory >>"
            --tags="$BRANCH_TAG"
            --overwrite_tags=<< parameters.overwrite_tags >>
      - run:
          name: Push branch tag to astrocrpublic.azurecr.io
          command: >-
            uv run bin/docker-operations.py push
            --project_path=<< parameters.directory >>
            --registry="astrocrpublic.azurecr.io"
            --username="${ACR_PUBLIC_USERNAME}"
            --password="${ACR_PUBLIC_PASSWORD}"
            --repository="astronomer"
            --image="ap-<< parameters.directory >>"
            --tags="$BRANCH_TAG"
            --overwrite_tags=<< parameters.overwrite_tags >>
      - run:
          name: Push branch tag to astrocr.azurecr.io
          command: >-
            uv run bin/docker-operations.py push
            --project_path=<< parameters.directory >>
            --registry="astrocr.azurecr.io"
            --username="${ACR_USERNAME}"
            --password="${ACR_PASSWORD}"
            --repository="astronomer"
            --image="ap-<< parameters.directory >>"
            --tags="$BRANCH_TAG"
            --overwrite_tags=<< parameters.overwrite_tags >>

  validate-tags:
    executor: docker-executor
    parameters:
      directory:
        description: "The directory name of the image to be validated"
        type: string
      tags:
        description: "Comma separated list of tags."
        type: string
      overwrite_tags:
        type: boolean
        default: false
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Install uv
          command: uv self version || curl -fsSL https://astral.sh/uv/install.sh | sh
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: |
            set -x
            docker load -i /tmp/workspace/ap-<< parameters.directory >>.tar
            docker images | grep ap-<< parameters.directory >>
      - docker-operations:
          operations: validate_tags
          project_path: << parameters.directory >>
          registry: "quay.io"
          registry_username: "${QUAY_USERNAME}"
          registry_password: "${QUAY_PASSWORD}"
          repository: "astronomer"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>
      - docker-operations:
          operations: validate_tags
          project_path: << parameters.directory >>
          registry: "docker.io"
          registry_username: "${DOCKER_USERNAME}"
          registry_password: "${DOCKER_PASSWORD}"
          repository: "astronomerinc"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>
      - docker-operations:
          operations: validate_tags
          project_path: << parameters.directory >>
          registry: "astrocrpublic.azurecr.io"
          registry_username: "${ACR_PUBLIC_USERNAME}"
          registry_password: "${ACR_PUBLIC_PASSWORD}"
          repository: "astronomer"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>
      - docker-operations:
          operations: validate_tags
          project_path: << parameters.directory >>
          registry: "astrocr.azurecr.io"
          registry_username: "${ACR_USERNAME}"
          registry_password: "${ACR_PASSWORD}"
          repository: "astronomer"
          image_name: ap-<< parameters.directory >>
          tags: << parameters.tags >>
          overwrite_tags: << parameters.overwrite_tags >>

commands:
  docker-build:
    description: "Build a Docker image"
    parameters:
      dockerfile:
        type: string
        default: Dockerfile
      path:
        type: string
        default: "."
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login to Chainguard Registry ## Currently we use: https://edu.chainguard.dev/chainguard/chainguard-images/chainguard-registry/authenticating/#authenticating-with-a-pull-token
          command: |
            docker login cgr.dev --username "$CHAINGUARD_REGISTRY_USERNAME" --password "$CHAINGUARD_REGISTRY_PASSWORD"
      - run:
          name: Build the Docker image
          command: uv run bin/docker-operations.py build --project_path=<< parameters.path>> --image=<< parameters.image_name >>
      - run:
          name: Running Docker image inspect
          command: docker inspect "<< parameters.image_name >>:${CIRCLE_SHA1}"
      - persist_to_workspace:
          root: .
          paths:
            - "./*.tar"

  docker-test:
    description: "Test a Docker image"
    parameters:
      path:
        type: string
        default: "."
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
      test_script:
        type: string
        default: bin/test.py
    steps:
      - checkout
      - run:
          name: Install uv
          command: uv self version || curl -fsSL https://astral.sh/uv/install.sh | sh
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: |
            set -x
            docker load -i /tmp/workspace/<< parameters.image_name >>.tar
            docker images | grep << parameters.image_name >>
      - run:
          name: Run Docker image test
          environment:
            ASTRO_IMAGE_NAME: << parameters.image_name >>
            ASTRO_IMAGE_TEST_CONFIG_PATH: << parameters.path >>/test.yaml
          command: |
            mkdir test-results
            uv run pytest -v --junitxml=test-results/junit.xml << parameters.test_script>>
      - store_test_results:
          path: test-results

  docker-operations:
    description: "Performing Docker Operation << parameters.operations >> for << parameters.registry >>"
    parameters:
      operations:
        type: string
      project_path:
        type: string
        default: "."
      registry:
        type: string
        default: $CIRCLE_BRANCH
      registry_username:
        type: string
      registry_password:
        type: string
      repository:
        type: string
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
      tags:
        type: string
      overwrite_tags:
        type: boolean
        default: false
    steps:
      - run:
          name: Install uv
          command: uv self version || curl -fsSL https://astral.sh/uv/install.sh | sh
      - run:
          name: Validating docker image(s)'s tags to << parameters.registry >>
          command: >-
            uv run bin/docker-operations.py
            << parameters.operations >>
            --project_path=<< parameters.project_path >>
            --registry="<< parameters.registry >>"
            --username="<< parameters.registry_username >>"
            --password="<< parameters.registry_password >>"
            --repository="<< parameters.repository >>"
            --image="<< parameters.image_name >>"
            --tags=<< parameters.tags >>
            --overwrite_tags=<< parameters.overwrite_tags >>
