---
tests:
  root_user_test: True
  default_user: grafana
  users_config:
    - name: grafana
      group: grafana
      gid: 65532
      uid: 65532
  test_commands:
    - command: "find /var/lib/grafana/dashboards/ -iname '*.json' | wc -l"
      expected_result:
        equals: "18"
